services:
  file-browser:
    image: filebrowser/filebrowser:v2
    container_name: file-browser
    hostname: file-browser
    restart: unless-stopped

    volumes:
      - ./config/settings.json:/config/settings.json:ro
      - ./data:/srv
      - ../nginx/pages:/srv/docs
      - filebrowser-db:/db

    deploy:
      resources:
        limits:
          memory: 128M
          cpus: "0.5"
        reservations:
          memory: 32M
          cpus: "0.1"

    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:80/boroda/browser/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

    networks:
      - docker

volumes:
  filebrowser-db:
    name: filebrowser-db
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /app/docker/volumes/filebrowser-db

networks:
  docker:
    external: true
